In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline  

# Load cleaned data
df = pd.read_csv(r"C:\Users\youg_\capstone-project-YougOsti\Data\Raw\Weather&Climate_data\annual-minimum-and-maximum-temperature-by-stations_NSO.csv", low_memory=False)

In [4]:
df.sample(4)

                 Station    District  Elevation(masl)   Max   Min  Year
267                Lahan      Siraha            110.0  30.4  19.0  2018
713             Manthali   Ramechhap            497.0  30.4   NaN  2021
755  Dainsili Sidhhapur      Baitadi           2083.0   NaN  11.2  2022
209            Taulihawa  Kapilvastu            106.0  30.1  19.0  2018